html, body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.blocklySvg {
  height: 100%;
  width: 100%;
}

#logo {
  width: 400px;
  height: 100px;
  text-indent: -9999px;
  background: url(../images/logo.png);
  margin: 0;
  padding: 0;
}

#controls {
  position: absolute;
  top: 15px;
  right: 0;
  padding: 10px;
}

#controls button {
  font-size: 20px;
  padding: 10px;
  border: 1px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#controls button:hover {
  color: black;
}

#execute {
  color: white;
  background-color: #00a651;
}