html, body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: sans-serif;
}

.blocklySvg {
  height: 100%;
  width: 100%;
}

#header {
  position: relative;
  height: 100px;
}

#logo {
  width: 400px;
  height: 100px;
  text-indent: -9999px;
  background: url(../images/logo.png);
  margin: 0;
  padding: 0;
}

#controls {
  position: absolute;
  top: 15px;
  right: 0;
  padding: 10px;
}

#controls button {
  font-size: 20px;
  padding: 10px;
  border: 1px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#controls button:hover {
  color: black;
}

#execute {
  color: white;
  background-color: #00a651;
}

#tabs {
  position: absolute;
  bottom: 0;
  left: 400px;
}

/* Tabs */

#tabs { 
  margin: 0; 
  padding: 0; 
  bottom: 0;
}
#tabs li { 
  display: inline-block; 
  zoom:1; *display:inline; 
  background: #eee; border: solid 1px #e2e2e2;
  border-bottom: none; 
  -moz-border-radius: 4px 4px 0 0; 
  -webkit-border-radius: 4px 4px 0 0; 
}
#tabs a { 
  width: 80px;
  text-align: center;
  font-size: 18px; 
  line-height: 2em; 
  display: block; 
  padding: 0 10px; 
  outline: none; 
  text-decoration: none; 
  color: black;
}
#tabs a:hover { 
  color: red;
}
#tabs li.active { 
  background: #fff; 
  padding-top: 6px; 
  position: relative; 
  top: 1px; 
  border-color: #e2e2e2; 
}
#tabs a.active { 
  font-weight: bold; 
}
/*.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }*/

#tab-content div {
  height: 100%;
}

#code {
  display: none;
  border-top: 1px solid #e2e2e2;
}

#code {
  font-size: 18px;
}

#runningWindow {
  display: none;
  width: 500px;
  height: 260px;
  border: 2px solid black;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/wood.png');
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

#runningWindow h1 {
  color: white;
  margin-top: 10px;
}

#running-image {
  width: 64px;
  display: block;
  margin: auto;
}

#stop {
  display: block;
  text-indent: -9999px;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: url(../images/stop.png);
}

#retrostick-1 {
  position: absolute;
  top: 75px;
  left: 60px;
}

#red {
  display: block;
  text-indent: -9999px;
  width: 60px;
  height: 60px;
  background: url(../images/red.png);
  position: absolute;
  top: 110px;
  right: 140px;
}

#green {
  display: block;
  text-indent: -9999px;
  width: 60px;
  height: 60px;
  background: url(../images/green.png);
  position: absolute;
  top: 130px;
  right: 60px;
}